// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Sass variable for linear gradient*/
$linear_color: whitesmoke, ghostwhite, slategrey;

.sign_form {
  margin: 100px auto;
  width: 350px;
  padding: 35px;
  font-size: 16px;
  font-family: "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  background: linear-gradient($linear_color);
  box-shadow: inset 5px 5px 10px black;
  border-radius: 15px;
  align-self: center;
  -webkit-animation: form_anim 1s;
  -moz-animation: form_anim 1s;
  -o-animation: form_anim 1s;
  animation: form_anim 1s;
}

.sign_form h1, h2, h3, h4, input {
  text-shadow: 2px 2px 4px slategrey;
  width: 100%;
  text-align: center;
  border-color: none;
}

.sign_form button {
  width: 100%;
  height: 40px;
  background: linear-gradient($linear_color);
  box-shadow: 2px 4px 4px black;
}

/* FORM FIELDS WITH ERRORS */

.field_with_errors {
  display: inline;
}

.field_with_errors input,  {
  border-color: red;
  border-radius: 3px;
}

.signup_errors {
  position: absolute;
  bottom: 10px;
  right: -300px;
  width: 250px;
  padding: 10px;
  font-size: 11px;
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;
  color: whitesmoke;
  -webkit-animation: errors_anim 10s;
  -moz-animation: errors_anim 10s;
  -o-animation: errors_anim 10s;
  animation: errors_anim 10s;
}

/* ANIMATIONS */

/* form_anim */
@-webkit-keyframes form_anim {
  from {margin: -450px auto}
  to {margin: 100px auto;}
}

@-moz-keyframes form_anim {
  from {margin: -450px auto}
  to {margin: 100px auto;}
}

@-o-keyframes form_anim {
  from {margin: -4500px auto}
  to {margin: 100px auto;}
}

@keyframes form_anim {
  from {margin: -450px auto}
  to {margin: 100px auto;}
}

/* flash_anim */

@-webkit-keyframes errors_anim {
  0% {right: 10px;}
  90% {right: 10px;}
  100% {right: -300px;}
}

@-moz-keyframes errors_anim {
  0% {right: 10px;}
  90% {right: 10px;}
  100% {right: -300px;}
}

@-o-keyframes errors_anim {
  0% {right: 10px;}
  90% {right: 10px;}
  100% {right: -300px;}
}

@keyframes errors_anim {
  0% {right: 10px;}
  90% {right: 10px;}
  100% {right: -300px;}
}